.marquee-wrapper {
  background-color: #ec068e;
  padding: 12px 180px; 
}

.marquee-container {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
