.marquee-container {
  overflow: hidden;
  position: relative;
  padding-left: 45px;
  padding-right: 45px;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
